.result-empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.result-section {
    height: -webkit-fill-available;
    border-top: 1px solid #dfdfdf;
    overflow: auto;
}

.result-tabs {
    height: -webkit-fill-available;
    border-top: 1px solid #dfdfdf;
    overflow: auto;
}
