.workbench {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    border-right: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    padding: 4px;
  }

.codemirror-editor { 
    min-height: 100%;
    height: 100%;
}

.workbench-actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    padding: 4px;
}
